
.bgimage {
 
  height:100vh;
  /* width: 100%;
  height: auto; */
      background:
      fixed url("images/janosch-lino-USKsnSIDNIA-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
  /* background-size:cover; */
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
  margin-left: 20%;
  margin-right: 20%;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  /* right: 50; */
  transform: translate(-50%, -50%);
  color: white;
}
@media screen and (max-width: 800px) {
.hero-text  {
  top: 50%; /* The width is 50%, when the viewport is 800px or smaller */
  text-align: center;
  position: absolute;
  /* top: 20%; */
  left: 50%;
  /* right: 50; */
  transform: translate(-50%, -50%);
  color: white;
}
}

/* input[type=radio] { vertical-align: middle; margin: 0; *margin-top: -2px; }
label { vertical-align: middle; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
 input[type=radio] { margin-top: 5px; }
} */

.lab{
  display: flex; align-items: center;
   margin-left: 0%; 
}
@media screen and (max-width: 800px) {
  .lab  {
    font-size: 1.5rem;
    margin-left: 0%;
    align-items:start;
  }
  }
.btn2{
  font-size: 2.5rem;
  border-radius: 20px;
}
@media screen and (max-width: 800px) {
.btn2 {
font-size: 1.5rem;
  border-radius: 0px;
}
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}


.next {
  background-color: #04AA6D;
  color: white;
  border-radius: 10%;
  cursor: pointer;
}

.modal- {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /*Sit on top*/
  padding-top: 100px; /* Location of the box */

  left: 0;
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header- {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
/* .modal-body {padding: 2px 16px;} */

/* Modal Footer */
.modal-footer- {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content- {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  border: 1px solid #888;
  border-radius: 10px;
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  /* animation-name: animatetop;
  animation-duration: 0.4s */
}

@media screen and (max-width: 700px) {
  .modal-content-  {
    width: 80%;
    font-size: 1.5rem;
  }
  }


input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
/* The Close Button */
/* .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-:hover,
.close-:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */
/* Add Animation */
/* @keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} */
